@model LabourReporting.Models.NcrTag

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NcrTag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Rej)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Rej)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disposition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Put_Up)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Put_Up)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrComments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrComments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operator.OperatorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStation.WorkStationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Tag_No">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
