@model IEnumerable<LabourReporting.Models.NcrTag>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-5 text-secondary text-center">@ViewBag.type&nbsp;Data</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive bg-white table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date_Rej)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disposition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Put_Up)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NcrComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisorSignature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkStation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Rej)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disposition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Put_Up)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NcrComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorSignature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator.OperatorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStation.WorkStationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Tag_No">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Tag_No">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Tag_No">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
